.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 32px;
  gap: 8px;
}

input {
  display: block;
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #4e75ff;
}

input::placeholder {
  color: #808080;
}

button {
  background-color: #4e75ff;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  font-size: 16px;
}

button:hover {
  background-color: #6c8cff;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 1130px;
  margin: 0 auto;
  row-gap: 24px;
  column-gap: 24px;
  padding-bottom: 24px;
}

.gallery-item {
  height: 200px;
  width: calc((100% - (2 * 24px)) / 3);
  border: 1px solid #808080;
}

.gallery-link {
  display: block;
}

.gallery-image {
  height: 152px;
  width: 100%;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  text-align: center;
  font-size: 12px;
  list-style-type: none;
}

.gallery-info strong {
  display: block;
  line-height: 16px;
}

.gallery-info span {
  line-height: 24px;
}
